@import "_variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: $background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: $font;
}

header {
  margin: 3rem 0;
  font-size: 2rem;
  font-weight: 400;

  span {
    background-color: $sunray;
    font-weight: 500;
    padding: 0.4rem;
    // border-radius: 0.6rem;
  }
}

footer {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  // box-shadow: 0px 0px 2rem #0002;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;

  .matrix {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;

    .row {
      display: flex;

      .cell {
        padding: 0.4rem;
        border: 0;
        background: 0;
        text-align: center;
        outline: 0.1rem solid #0000;
        border-radius: 0.2rem;
        transition: 0.3s;
      }

      .cell:focus {
        outline: 0.1rem solid $feldgrau;
        transition: 0.3s;
      }
    }
  }
}
