// Font
$font: "Roboto", sans-serif;

// Colors
$text: #000000ff;
$background: #efefefff;
$onyx: #32373bff;
$feldgrau: #4a5859ff;
$unbleached-silk: #f4d6ccff;
$sunray: #f4b860ff;
$brick-red: #c83e4dff;
