@import "_variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  background-color: $background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: $font;
}

header {
  margin: 3rem 0;
  font-size: 2rem;
  font-weight: 400;

  span {
    background-color: $sunray;
    font-weight: 500;
    padding: 0.4rem;
  }
}

footer {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}
